html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  height: 100%;
  color: #666666;
}
.background--image1 {
  background-image: url(./img/bg.jpg);
  min-height: 100%;
}
.background--image2 {
  background-image: url(./img/bg1.jpg);
  min-height: 80%;
}
.background--image3 {
  background-image: url(./img/bg2.jpg);
  min-height: 80%;
}
.background--image4 {
  background-image: url(./img/bg3.jpg);
  min-height: 80%;
}
.background--image1,
.background--image2,
.background--image3,
.background--image4 {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-attachment: fixed;
  opacity: 0.7;
}
.heading-container {
  position: absolute;

  width: 100%;
  text-align: center;
  top: 50%;
  font-size: 3rem;
}
.section {
  text-align: center;
  padding: 3rem 5rem;
  line-height: 1.8rem;
}
.section-light {
  background-color: #f1f1f1;
  color: #666666;
}
.section-dark {
  background-color: #282e34;
  color: #fff;
}

.heading-container-big {
  background-color: black;
  padding: 2rem;
  letter-spacing: 0.5rem;
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  outline: 0.5rem inset purple;
  outline-offset: 1rem;
}
.heading-container-text {
  background-color: black;
  padding: 0.7rem;
  border-top-left-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
  outline: 0.4rem inset purple;
  outline-offset: 0.2rem;
  letter-spacing: 0.3rem;
}
